{% import "trees/rhel7.j2" as rhel7 %}
{% set distro_requires %}
  <distro_family op="=" value="RedHatEnterpriseLinux7"/>
  <distro_variant op="=" value="Server"/>
  <distro_name op="=" value="RHEL-7.6"/>
{% endset %}
{% macro repo_url(suffix) -%}
  https://rhsm-pulp.corp.redhat.com/content/eus/rhel/{{ rhel7.flavor(ARCH) }}/7/7.6/{{ ARCH }}/{{ suffix }}
{%- endmacro %}
{% set repos %}
  <repo name="pulp_0" url="{{ repo_url("os") }}"/>
  <repo name="pulp_1" url="{{ repo_url("optional/os") }}"/>
  <repo name="pulp_2" url="{{ repo_url("debug") }}"/>
  {% if "rt" in COMPONENTS %}
    <repo name="pulp_3"
          url="https://rhsm-pulp.corp.redhat.com/content/dist/rhel/{{ rhel7.flavor(ARCH) }}/7/7.6/{{ ARCH }}/rt/os/"/>
  {% endif %}
{% endset %}
{# add efi=runtime otherwise reboot using kernel-rt will fail on machines with UEFI #}
{% if "rt" in COMPONENTS %}
  {% set kernel_options_post = "efi=runtime" %}
{% endif %}
